
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-orange: #FF7020;
  --brand-text: #4F4640;
}

.container {
  @apply mx-auto max-w-5xl px-4 sm:px-6 lg:px-8;
}

.container-lg {
  @apply mx-auto max-w-6xl px-4 sm:px-6 lg:px-8;
}

/* .container-xl {
  @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
} */

body{
    font-family: "Montserrat", sans-serif !important;

}


.rounded-md{
   border-radius: 6px !important;
}

.swiper-navigation-icon{
   color: #000;
   width: 10px !important;
}

strong{
color: #008a2c;
}


.container-xl{
  width: 90% !important;
}